@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-logoblue: #39a2df;
}

html,
body {
  @apply bg-white dark:bg-white;
  line-height: 1.5;
  font-weight: 400;
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #747bff;
  text-decoration: underline;
}
